* {
    margin: 0;
    padding: 0;
}
.top-content {
    display: flex;
    justify-content: center;
    width: 50%;
    float: right;
}
.top-container {
    margin-top: 300px;
}
.bot-content {
    display: flex;
    justify-content: center;
    height: 95vh;
    max-width: 50%;
    background: #3CA0D0;
}
.bot-container {
    margin-top: 300px;
}
ul {
    justify-content: center;
    list-style: none;
}
li {
    color: #fff;
    font-size: 25px;
}
img{
    margin-right: 15px;
}
h1, h2 {
    margin-bottom: 30px;
}
.registration {
    border-radius: 20px;
    width: 400px;
    height: 35px;
    background-color: #086FA1;
    color: #fff;
    margin-bottom: 10px;
}
.sign {
    border-radius: 20px;
    width: 400px;
    height: 35px;
    background-color: #fff;
    color: #086FA1;
    border-color: #086FA1;
}
.footer {
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    margin-bottom: 0;
}
.footer ul {
    display: inline-block;
}
.footer li{
    display: inline-block;
    color: #000;
    font-size: 14px;
    margin-right: 15px;
}
a {
    color: gray;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}